<% if @comments.empty? %>

	<div style="margin-top: 200px; text-align: center;">
		<span>1000件以内に日本語のコメントはありませんでした。</span>
	</div>

<% elsif @comments.is_a?(String) %>

	<div style="margin-top: 200px; text-align: center;">
		<span><%= @comments %></span>
	</p>

<% else %>
	<% if @num == 0 %>
		<div class="headspace"></div>
	<% end %>
	<% @comments.each do |comment| %>
		<section class="comment">
			<div class="comment_author_profile_image">
				<img src="<%= comment[:author_profile_image_url] %>" alt="プロフィール画像お">
			</div>
			<div class="comment_main">
				<div class="comment_header">
					<span><%= comment[:author_display_name] %></span>
					<span><%= time_ago_in_words(comment[:published_at]) %>前</span>
				</div>
				<div class="comment_body">
					<span><%= simple_format(comment[:text_display]) %></span>
				</div>
				<div class="comment_body_renderer">
					<span>続きを読む</span>
				</div>
				<div class="comment_like_count">
					<span><i class="fas fa-thumbs-up"></i> <%= comment[:like_count] %></span>
				</div>
				<div class="comment_replies" id="comment_replies_<%= comment[:id] %>">
					<% if comment[:total_reply_count] > 0 %>
						<div class="replies_renderer">
							<span>
								<%= link_to search_find_reply_path(comment_id: comment[:id]), remote: :true do %>
									<i class="fas fa-chevron-down"></i> <%= comment[:total_reply_count] %>件の返信を表示
								<% end %>
							</span>
						</div>
						<div class="cv-spinner">
							<span class="spinner"></span>
						</div>
					<% end %>
				</div>
			</div>
		</section>
	<% end %>
	<% if @next_page_token %>
		<div id="comment_list_<%= @num + 1 %>" class="comment_list">
			<div class="next_page">
				<span><%= link_to "他のコメントを表示", root_path(url: @url, video_id: @video_id, sort: @sort, next_page_token: @next_page_token, num: @num), remote: :true %></span>
				<div class="cv-spinner">
					<span class="spinner"></span>
				</div>
			</div>
		</div>
	<% end %>

	<script>
		$(function() {
			$('.replies_renderer span').on('click', function() {
					$(this).parent().next().css('display', 'flex');
					$(this).parent().next().children().css({
						'border':'3px gray solid',
						'border-top':'3px rgba(0, 0, 0, 0) solid'
					});
			});
			$('.next_page span').on('click', function() {
					$('.next_page .spinner').css({
						'border':'3px gray solid',
						'border-top':'3px rgba(0, 0, 0, 0) solid'
					});
			});
		});
	</script>

<% end %>

<div class="filter">
	<div class="cv-spinner">
		<span class="spinner-large"></span>
	</div>				
</div>
