<div class="replies_renderer">
	<div class="replies_renderer_active">
		<span><i class="fas fa-chevron-up"></i> 返信を非表示</span>
	</div>
</div>
<% @replies.reverse_each do |reply| %>
	<section class="reply">
		<div class="reply_author_profile_image">
			<img src='<%= reply["snippet"]["authorProfileImageUrl"] %>' alt="">
		</div>
		<div class="comment_main">
			<div class="comment_header">
				<span><%= reply["snippet"]["authorDisplayName"] %></span>
				<span><%= time_ago_in_words(reply["snippet"]["publishedAt"]) %>前</span>
			</div>
			<div class="comment_body">
				<span><%= simple_format(reply["snippet"]["textDisplay"]) %></span>
			</div>
			<div class="comment_like_count">
				<span><i class="fas fa-thumbs-up"></i> <%= reply["snippet"]["likeCount"] %></span>
			</div>
		</div>
	</section>
<% end %>
