<%= form_with url: root_path, method: :get do |f| %>
	<%= f.text_field :video_id, placeholder: "VIDEO ID", value: @video_id %>
	<% if @sort == "評価順" %>
		<%= f.radio_button :sort, :評価順, checked: true %>
	<% else %>
		<%= f.radio_button :sort, :評価順 %>
	<% end %>
	<%= f.label :sort_評価順, "評価順" %>
	<% if @sort == "新着順" %>
		<%= f.radio_button :sort, :新着順, checked: true %>
	<% else %>
		<%= f.radio_button :sort, :新着順 %>
	<% end %>
	<%= f.label :sort_新着順, "新着順" %>
	<%= f.submit "検索", id: "submit" %>
<% end %>

<div id="comment_list_0">
	<div class="cv-spinner">
		<span class="spinner"></span>
	</div>
</div>