<%= form_with url: root_path, method: :get, local: true do |f| %>
	<%= f.text_field :video_id, placeholder: "VIDEO ID", value: @video_id %>
	<% if @sort == "評価順" %>
		<%= f.radio_button :sort, :評価順, checked: true %>
	<% else %>
		<%= f.radio_button :sort, :評価順 %>
	<% end %>
	<%= f.label :sort_評価順, "評価順" %>
	<% if @sort == "新着順" %>
		<%= f.radio_button :sort, :新着順, checked: true %>
	<% else %>
		<%= f.radio_button :sort, :新着順 %>
	<% end %>
	<%= f.label :sort_新着順, "新着順" %>
	<%= f.submit "検索" %>
<% end %>
<%= @comment %>
<% if @comments %>
	<table border="1">
		<thead>
			<tr>
				<th>名前</th>
				<th>コメント</th>
			</tr>
		</thead>
		<tbody>
		<% @comments.each do |comment| %>
			<% if comment.snippet.top_level_comment.snippet.text_display =~ /(?:\p{Hiragana}|\p{Katakana}|[一-龠々])/ %>
			<tr>
				<td width="100px"><%= comment.snippet.top_level_comment.snippet.author_display_name %></td>
				<td><%= comment.snippet.top_level_comment.snippet.text_display %></td>
			</tr>
				<% if comment.snippet.total_reply_count > 0 %>
					<%= opt = {
								max_results: 100,
								page_token: @next_page_token,
								text_format: 'plainText',
								parent_id: comment.snippet.top_level_comment.id
					} %>
					<% @youtube.list_comments(:snippet, opt).items.reverse_each do |reply| %>
					<tr>
						<td></td>
						<td>▶︎ <%= reply.snippet.text_display %></td>
					</tr>
					<% end %>
				<% end %>
			<tr>
				<td colspan="2">　</td>
			</tr>
			<% end %>
		<% end %>
		</tbody>
	</table>
<% end %>