<div class="comment_list">
	<section class="comment">
		<div class="comment_author_profile_image">
			<%= image_tag "profile_image_1.jpg", class: "comment_profile_image" %>
		</div>
		<div class="comment_main">
			<div class="comment_header">
				<span>author_name</span>
				<span>created_at</span>
			</div>
			<div class="comment_body">
				<spna>テキストテキストテキストテキストテキストテキストテキスト<br>
					テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</spna>
			</div>
			<div class="comment_like_count">
				<span>いいね 69</span>
			</div>
			<div class="replies_renderer">
				<span>4件の返信を表示</span>
			</div>
			<div class="comment_replies">
				<section class="reply">
					<div class="reply_author_profile_image">
						<%= image_tag "profile_image_1.jpg", class: "comment_profile_image" %>
					</div>
					<div class="comment_main">
						<div class="comment_header">
							<span>author_name</span>
							<span>created_at</span>
						</div>
						<div class="comment_body">
							<spna>テキストテキストテキストテキストテキストテキストテキスト<br>
								テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</spna>
						</div>
						<div class="comment_like_count">
							<span>いいね 69</span>
						</div>
					</div>
				</section>
				<section class="reply">
					<div class="reply_author_profile_image">
						<%= image_tag "profile_image_1.jpg", class: "comment_profile_image" %>
					</div>
					<div class="comment_main">
						<div class="comment_header">
							<span>author_name</span>
							<span>created_at</span>
						</div>
						<div class="comment_body">
							<spna>テキストテキストテキストテキストテキストテキストテキスト<br>
								テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</spna>
						</div>
						<div class="comment_like_count">
							<span>いいね 69</span>
						</div>
					</div>
				</section>
				<section class="reply">
					<div class="reply_author_profile_image">
						<%= image_tag "profile_image_1.jpg", class: "comment_profile_image" %>
					</div>
					<div class="comment_main">
						<div class="comment_header">
							<span>author_name</span>
							<span>created_at</span>
						</div>
						<div class="comment_body">
							<spna>テキストテキストテキストテキストテキストテキストテキスト<br>
								テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</spna>
						</div>
						<div class="comment_like_count">
							<span>いいね 69</span>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>
	<section class="comment">
		<div class="comment_author_profile_image">
			<%= image_tag "profile_image_1.jpg", class: "comment_profile_image" %>
		</div>
		<div class="comment_main">
			<div class="comment_header">
				<span>author_name</span>
				<span>created_at</span>
			</div>
			<div class="comment_body">
				<spna>テキストテキストテキストテキストテキストテキストテキスト<br>
					テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</spna>
			</div>
			<div class="comment_like_count">
				<span>いいね 69</span>
			</div>
			<div class="replies_renderer">
				<span>▼ 4件の返信を表示</span>
			</div>
		</div>
	</section>
	<section class="comment">
		<div class="comment_author_profile_image">
			<%= image_tag "profile_image_1.jpg", class: "comment_profile_image" %>
		</div>
		<div class="comment_main">
			<div class="comment_header">
				<span>author_name</span>
				<span>created_at</span>
			</div>
			<div class="comment_body">
				<spna>テキストテキストテキストテキストテキストテキストテキスト<br>
					テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</spna>
			</div>
			<div class="comment_like_count">
				<span>いいね 69</span>
			</div>
			<div class="replies_renderer">
				<span>▼ 4件の返信を表示</span>
			</div>
		</div>
	</section>
	<section class="comment">
		<div class="comment_author_profile_image">
			<%= image_tag "profile_image_1.jpg", class: "comment_profile_image" %>
		</div>
		<div class="comment_main">
			<div class="comment_header">
				<span>author_name</span>
				<span>created_at</span>
			</div>
			<div class="comment_body">
				<spna>テキストテキストテキストテキストテキストテキストテキスト<br>
					テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</spna>
			</div>
			<div class="comment_like_count">
				<span>いいね 69</span>
			</div>
			<div class="replies_renderer">
				<span>▼ 4件の返信を表示</span>
			</div>
		</div>
	</section>
</div>